*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

body{
    background:#2a3031;
    font-size: 14px;
    line-height: 22px;
    color: yellow;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.semi_bold{
    font-weight: 500;
    font-size: 16px;
}

.cv{
    width:auto;
    display:flex;
}

.cv .cv_left{
    width:30%;
    background: #013b49;
}

.cv .cv_left .cv_profile img{
    width: 100%;
    height: 100%;
}

.cv .cv_left .cv_content{
    padding:0 25px;
}

.cv .title{
    margin-bottom: 20px;
}

.cv .cv_left .bold{
    color: yellow;
}

.cv .cv_item{
    padding: 25px 0;
    border-bottom: 2px solid yellow;
}

.cv .cv_left ul li{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}

.cv .cv_left ul li .icon{
    width: 35px;
    height: 35px;
    font-size: 25px;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
}

.cv .cv_left ul li .data{
    color:white;
}

.cv .cv_left ul li .data a{
    color:white;
}

.cv .cv_left .cv_skills ul li{
    justify-content: space-between;
}

.cv .cv_left .cv_skills ul li .skill_name{
    width:25%;
}

.cv .cv_left .cv_skills ul li .skill_progress .circle{
    position: relative;
    font-size: auto;
}

.cv .cv_right{
    width:70%;
    background: #edeff0;
}

.cv .header {
    width: 100%;
    height: 170px;
    background-color:#013b49;
    padding: 50px 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cv .cv_right .content_right{
    padding: 0px 25px;
}

.cv .cv_right .cv_item{
    padding: 25px 0;
    border-bottom: 2px solid black;
}

.cv .cv_right .header .name{
    font-size: 60px;
    color:yellow;
    margin-bottom: 20px;
}

.cv .cv_right .bold{
    color:#013b49;
}

.cv .cv_right .semi-bold{
    color:#013b49;
    font-weight: 700;
}

pre{
    font-family: monospace;
	font-size: 12px;
	padding: 10px;
}

.cv .cv_right ul li .date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    color:#013b49
  }

.cv .cv_right .content_right .date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.cv .cv_right .content_right .info{
    margin-bottom: 15px;
}

.cv .cv_right .content_right .language ul li{
    list-style-type: disc;
    margin-left: 20px;
    color:#013b49;
}

.footer{
    height:15%;
    width:100%;
    max-width: 1200px;
    background: #013b49;
    display: inline-flex;
    padding: 20px;
}

.container .footer .git{
    width: 33%;
    text-align: center;
    color:yellow;
}

.container .footer .date{
    width: 33%;
    text-align: center;
    color:yellow;;
    margin: 0px 0px 0px 0px;
}

.container .footer .rss{
    width: 33%;
    text-align: center;
    color:yellow;
}

.footer .bold{
    color:yellow;
    font-size: 16px;
}

.footer .rss_logo{
    width:100px;
}

.cv .cv_right .icon{
    height: 35px;
    font-size: 25px;
    margin-right: 15px;
    color:#013b49;
}

.cv .cv_right .title{ 
    display: flex;
    align-items: center;
    
}

.cv .cv_right .bold{
    align-items: center;
}